.env
__pycache__/
.pytest_cache/
.conda/
.vscode/
faq/
actas_procesadas/
json/
log/
mis_actas/
oldactas/
resumen/
typesense_data/
test/modelTest/actas/
test/modelTest/actas_procesadas/
test/modelTest/actaexample.txt
test/modelTest/testPromt1.txt
test/modelTest/resumen/




*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info
.installed.cfg
*.egg